.Team {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 280px;
  min-height: 140px;
  border-radius: 8px;
  background-color: #dec4f3;
  header {
    padding-bottom: 8px;
  }
}

.DataContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  & > div + div {
    margin-top: 4px;
  }
  & > select {
    margin-top: 8px;
  }
}

.TeamPlayer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  button {
    font-weight: 700;
    color: white;
    cursor: pointer;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: crimson;
    outline: none;
  }
}